button {
  transition: all 0.4s;
}

/* .box {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  border: 1px solid red;
} */
.box {
  position: fixed;
  width: 700px;
  height: 700px;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
  margin: 0 auto;
  margin: 130px 600px;
}
.stor h1 span {
  font-weight: 900;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

.active {
  color: yellow;
  font-weight: 700;
}
.ul::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  height: 8px;
  background-color: transparent;
}
.ul::-webkit-scrollbar-thumb {
  background: #afffff;
}
.ul {
  overflow-y: scroll;
  overflow-x: hidden;
}
